/*--banner section Start--*/
.banner ol
{
   padding-bottom: 160px;
   text-decoration: none;
}
/*--banner section End--*/
/*--tabs section Start--*/
.tab
{
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    background: white;
    padding: 40px 25px 40px 25px;
    width: 100%;
    /* height: auto; */
    height: 750px;
    box-shadow: 10px 10px 10px 10px #ccc;
    border-radius: 5px;
    min-width: 240px;
}
.tab ul li .nav-link .active
{
    background-color: #fff;
}
.slider
{
    top: 0px;
    left: 0px;
    display: block;
    background: rgba(0,0,0,0.7);
}
.tab .slider
{
    position: relative;
    width: 25%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    transform: translateX(0%);
}
.tab .slider .indicator
{
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: #3a9f3b;
    border-radius: 1px;
}
.cash a
{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}
.future a
{
    text-decoration: none;
    color: #343a40;
    font-size: 14px;
    font-weight: 500;
}
.option a
{
    text-decoration: none;
    color: #343a40;
    font-size: 14px;
    font-weight: 500;
}
.main
{
    margin-left: 30px;
    width: 860px;
    height: 500px;
    box-shadow: 3px 3px 3px 3px #ccc;
}
.main .card ul li .pricebtn
{
    background-color: #dbdad9;
    border: none;
    box-shadow:  2px 2px 2px 2px #999;
    border-radius: 5px;
    height: 40px;
    width: 170px;
    font-size: 14px;
}
.main .card ul li .pricebtn:hover
{
    background-color: #3a9f3b;
}
.main .card ul p
{
    font-size: 12px;
    color: #5a6570;
    padding-top: 8px;
    margin: auto;
    margin-bottom: 30px;
}
.main .card .btnbuy
{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c751d;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
/*--tabs section End--*/